# This workflow will install Python dependencies, run tests, lint and check code coverage
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-python

name: Unit tests

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

permissions:
  contents: read

jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        python-version: [3.10, 3.11]

    steps:
    - uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: ${{ matrix.python-version }}

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
        pip install flake8 coverage

    - name: Lint with flake8
      run: |
        # stop the build if there are Python syntax errors or undefined names
        flake8 . --count --select=E9,F63,F7,F82 --show-source --statistics
        # exit-zero treats all errors as warnings. The GitHub editor is 127 chars wide
        flake8 . --count --exit-zero --max-complexity=10 --max-line-length=127 --statistics

    - name: Run tests with coverage
      run: |
        python3 -m coverage run --source=app -m pytest

    - name: Show coverage report
      run: |
        python3 -m coverage report -m

    - name: Generate HTML coverage report
      run: |
        python3 -m coverage html

    - name: Upload HTML coverage report as artifact
      uses: actions/upload-artifact@v4
      with:
        name: html-coverage-report
        path: htmlcov

    - name: Fail if coverage < 100%
      run: |
        python3 -m coverage report --fail-under=100
